.alert {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: .5rem 0;
    margin-bottom: $gap;
    text-align: center;
    width: 100%;
}

.alert.alert-warning {
    border-color: $warning-border;
    background-color: $warning-bg;
    color: $warning-text-clr;
}
