.container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: calc($gap * 2);
    width: 100%;
}

@media only screen and (width <= 1024px) {
    .container {
        padding: 0 0.5rem;
    }
}

.admin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 2rem;
    column-gap: 2rem;
    width: 100%;
}

.admin-btn-row {
    text-align: right;
    width: 100%;
}