.main {
    border-collapse: collapse;
    min-width: 100%;
    width: 100%;

    thead  {
        border-bottom: #383838 solid 3px;
    }

    thead th {
        font-weight: bold;
        min-height: 36px;
        background-color: hsl(40, 60%, 90%);
        text-align: left;
    }

    th, td {
        padding: .5rem .25rem;
    }

    th.order {
        position: relative;
        cursor: pointer;

        > span {
            &:before, &:after {
                content: "";
                position: absolute;
                background-color: hotpink;
                width: 2px;
                height: 7px;
                margin-top: 0.35rem;
                margin-left: .75rem;
            }

            &:before {
                transform: translate(2px, 0) rotate(45deg);
            }

            &:after {
                transform: translate(-2px, 0) rotate(-45deg);
            }

            &.asc:before {
                transform: translate(-2px, 0) rotate(45deg);
            }

            &.asc:after {
                transform: translate(2px, 0) rotate(-45deg);
            }
        }
    }

    // Striped styles
    &.striped {
        tbody tr:nth-child(odd) {
            td {
                background-color: rgba(0, 0, 0, 0.05);
            }

            td.active-col {
                background-color: rgba(0, 0, 0, 0.11);
            }
        }
    }

    // Hover styles
    &.hover {
        tbody tr:hover {
            background-color: rgba(0, 0, 0, 0.09);
        }
    }

    th.active-col {
        background-color: hsl(40, 60%, 85%);
    }

    td.active-col {
        background-color: rgba(0, 0, 0, 0.08);
    }

    .w-rank {
        width: 4rem;
    }

    .w-ascent {
        width: 6rem;
    }

    .w-distance {
        width: 6rem;
    }

    .w-activities {
        width: 6rem;
    }

    .w-time {
        width: 6rem;
    }
}