$disabled: #E9ECEF;
$active: rgb(250, 124, 145, 1);
$transition: 280ms all var(--delay) ease-out;
$gap: 0.75rem;
$primary: #0d6efd;
$black:   black;
$modal-border-radius: 0.25rem;


$success: #28a745;
$success-text-clr: #0a3622;
$success-bg: #d1e7dd;
$success-border: #a3cfbb;

$warning: #ffc107;
$warning-text-clr: #664d03;
$warning-bg: #fff3cd;
$warning-border: #ffe69c;

$danger: #dc3545;
$danger-text-clr: #58151c;
$danger-bg: #f8d7da;
$danger-border: #f1aeb5;

@import 'normalize';
@import 'variables';
@import 'grid';
@import 'table';
@import 'alert';
@import 'forms';
@import 'buttons';


body {
    font-family: $font-family-sans-serif;
    font-size: .85rem;
    color: black;
    margin: $gap auto;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    font-size: .85rem;
}

.info-row {
    display: flex;
    flex-wrap: wrap;
    white-space:nowrap;
    justify-content: space-evenly;
    column-gap: 2rem;
    width: 100%;
    padding: .5rem 0;

    > *:first-child {
        margin-left: auto;
    }

    // left hours
    > *:nth-child(3) {
        margin-right: auto;
    }

    > .last-update {
        flex-basis: 100%;
        font-size: x-small;
        text-align: center;
        color: #6e6d6d;
    }

    ::after {
        content: attr(data-info-row);
        font-weight: 400;
        font-size: 1.1rem;
        margin-left: 0.25rem;
        vertical-align: -8%;
        color: $success;
    }

    .danger::after {
        color: $danger;
    }

    .success {
        color: $success;
        font-size: 1.1rem;
    }
}

#nav-header {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chart-goals-container, #data-table {
    width: 100%;
}

.text-center {
    text-align: center;
}

.shadow {
    --border-radius: 0.05rem;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: var(--border-radius);
}

.login {
    display: grid;
    grid-template-columns: 1fr;
    height: 97vh;
    margin: 0 2rem;

    > form {
        display: flex;
        align-self: center;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;

        box-shadow: rgba(0,0,0,.16) 0px 1px 4px;
        border-radius: var(--border-radius);
        border-radius: 0.05rem;

        > button {
            max-width: max-content;
            margin-left: auto;
        }
    }
}

@media only screen and (min-width: 992px) {
    .login {
        grid-template-columns: repeat(3, 1fr);

        > form {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }
}


.month-goal {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .15rem;
    padding: 1rem;

    > .title {
        font-weight: 600;
        font-size: 1.2rem;
        border-bottom: 1px solid #ededed;
    }

    > .goal {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1.5rem 0;
    }

    > .buttons {
        // background-color: #a3cfbb;
    }
}