@import 'normalize';
@import 'variables';
@import 'grid';

body {
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    color: black;
    max-width: 75%;
    margin: $gap auto;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 2rem;

    & ::after {
        content: attr(data-info-row);
        font-weight: 400;
        font-size: 1.5em;
        margin-left: 0.25rem;
        vertical-align: -12.5%;
        color: green;
    }
}