{% load filters %}


{% for object in object_list %}

<div class="month-goal">
    <div class="title">{{object.month}}</div>
    <div class="goal {{object.css_class}}">
        {% if object.goal %}{{object.goal.hours}}{% else %}0{% endif %}
    </div>
    <div class="collected">{% if object.collected %}Surinkta: <strong>{{object.collected|floatformat:0}}</strong>{% else %}&nbsp;{% endif %}</div>
    <div class="buttons">
        {% if object.goal %}
        <button type="button" class="btn-secondary" hx-get="{% url 'goals:goal_update' object.goal.pk %}" hx-target="#mainModal"><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn-trash" hx-get="{% url 'goals:goal_delete' object.goal.pk %}" hx-target="#mainModal"><i class="bi bi-trash"></i></button>

        {% else %}

        <button type="button" class="btn-save" hx-get="{% url 'goals:goal_add' object.month_num %}" hx-target="#mainModal"><i class="bi bi-plus"></i></button>
        {% endif %}
    </div>
</div>

{% endfor %}
