{% load crispy_forms_tags %}


<form method="POST" id="modal-form" class="modal-content modal-form" novalidate autocomplete="off" tabindex="-1" hx-post="{{ view.url }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' data-hx-trigger-form="{{hx_trigger_form}}">

    <div class="modal-header">
        <h5 class="modal-title">{{ view.title}}</h5>
        <button type="button" class="button-close modal-close" data-dismiss="mainModal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% include 'goals/partials/form_errors.html' %}

        {% for field in form %}
        {% if not field.is_hidden %}
        {{ field|as_crispy_field }}
        {% endif %}
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="submit" id="_close" class="btn-primary">{% if object %}Update{% else %}Create{% endif %}</button>
        <button type="button" class="btn-secondary modal-close" data-dismiss="mainModal">Close</button>
    </div>

</form>