<form method="POST" id="modal-form" class="modal-content modal-form" novalidate autocomplete="off" tabindex="-1" hx-post="{{ view.url }}" data-hx-trigger-form="{{hx_trigger_form}}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Delete Goal</h5>
        <button type="button" class="button-close modal-close" data-dismiss="mainModal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>
            Ar tikrai nori ištrinti: <strong>{{ object }}</strong>?
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" id="_close" class="btn-danger" autofocus>Delete</button>
        <button type="button" class="btn-primary modal-close" data-dismiss="mainModal">Close</button>
    </div>
</form>
