{% load filters %}


{% for month in months %}
{% with goals|get_object:forloop.counter as goal %}
<div class="month-goal">
    <div class="title">{{month}}</div>
    <div class="goal">{% if goal %}{{goal.hours}}{% else %}0{% endif %}</div>
    <div class="buttons">
        {% if goal %}
        <button type="button" class="btn-secondary" hx-get="{% url 'goals:goal_update' goal.pk %}" hx-target="#mainModal"><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn-trash"><i class="bi bi-trash"></i></button>

        {% else %}

        <button type="button" class="btn-save" hx-get="{% url 'goals:goal_add' forloop.counter %}" hx-target="#mainModal"><i class="bi bi-plus"></i></button>
        {% endif %}
    </div>
</div>
{% endwith %}
{% endfor %}
