{% extends 'base.html' %}
{% load static %}
{% load filters %}


{% block content %}
<div class="container">

    <div id="nav-header">
        <a href="{{previous.url}}">&laquo; {{previous.title}}</a>
        <div>{{month_str}}, {{ year }}</div>
        <a href="{{next.url}}">{{next.title}} &raquo;</a>
    </div>

    {% if goal_collected %}
        <div id="info-row" class="info-row">
            {% if goal_hours %}
                <div data-info-row="{{ goal_hours|floatformat:'0g'}}h">Tikslas:</div>
            {% endif %}

            <div data-info-row="{{ goal_collected|convert_seconds }}">Surinkta:</div>

            {% if goal_hours %}
                {% if goal_left > 0 %}
                    <div class="danger" data-info-row="{{ goal_left|convert_seconds }}">Liko:</div>
                {% else %}
                    <div class="success">Tikslas pasiektas!</div>
                {% endif %}
            {% endif %}

            {% if last_update %}<div class="last-update">Duomenys atnaujinti: {{last_update|date:"Y-m-d H:i"}}</div>{% endif %}
        </div>

        <div id="chart-goals-container"></div>
        {% else %}

        {% if goal_hours %}
            <div id="info-row" class="info-row">
                <div data-info-row="{{ goal_hours|floatformat:'0g'}}h">Tikslas:</div>
            </div>
        {% endif %}

    {% endif %}

    <div id="data-table">{{table}}</div>


</div>

{{chart_data|json_script:"chart-goals-data"}}
<script>loadChart('chart-goals-data', 'chart-goals-container');</script>

{% endblock %}