{% load filters %}

{% if object_list %}

<table class="main striped hover">
    <thead>
        <tr>
            {% with request.resolver_match.kwargs as kwargs %}
            {% url 'goals:table' year=kwargs.year month=kwargs.month as url %}
            <th class="w-rank">Vieta</th>
            <th class="w-athlete order {% if active_col == 'athlete' %}active-col{% endif %}" hx-get="{{url}}?order=athlete" hx-target="#data-table">
                Eksplėnas
                {% if active_col != 'athlete' %}<span class="asc"></span>{% endif%}
            </th>
            <th class="w-time order {% if active_col == 'moving_time' %}active-col{% endif %}" hx-get="{{url}}?order=moving_time" hx-target="#data-table">
                Laikas
                {% if active_col != 'moving_time' %}<span></span>{% endif%}
            </th>
            <th class="w-activities order {% if active_col == 'num_activities' %}active-col{% endif %}" hx-get="{{url}}?order=num_activities" hx-target="#data-table">
                Veiklos
                {% if active_col != 'num_activities' %}<span></span>{% endif%}
            </th>
            <th class="w-distance order {% if active_col == 'distance' %}active-col{% endif %}" hx-get="{{url}}?order=distance" hx-target="#data-table">
                Atstumas
                {% if active_col != 'distance' %}<span></span>{% endif%}
            </th>
            <th class="w-ascent order {% if active_col == 'ascent' %}active-col{% endif %}" hx-get="{{url}}?order=ascent" hx-target="#data-table">
                Sukilimas
                {% if active_col != 'ascent' %}<span></span>{% endif%}
            </th>
            {% endwith %}
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td {% if active_col == 'athlete' %}class="active-col"{% endif %}>{{ object.athlete_name|cut_name }}</td>
            <td {% if active_col == 'moving_time' %}class="active-col"{% endif %}>{{ object.moving_time|convert_seconds }}</td>
            <td {% if active_col == 'num_activities' %}class="active-col"{% endif %}>{{ object.num_activities }}</td>
            <td {% if active_col == 'distance' %}class="active-col"{% endif %}>{{ object.distance|convert_meters }}</td>
            <td {% if active_col == 'ascent' %}class="active-col"{% endif %}>{{ object.ascent|floatformat:"0g" }}m</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div id="data-table" class="alert alert-warning">{{date}} neturi įrašų.</div>

{% endif %}