{% extends 'base.html' %}
{% load static %}
{% load filters %}


{% block content %}
<div class="container">

    <div id="navbar-container">
        <a href="{% url 'goals:year' prev_year %}">&laquo; {{prev_year}}</a>
        <div><a href="{% url 'goals:year' year %}">{{ year }}</a></div>
        <a href="{% url 'goals:year' next_year %}">{{next_year}} &raquo;</a>
    </div>

    <div id="chart-container">
        <div id="chart-year-container"></div>
    </div>

    <div id="table-container">{{table}}</div>
</div>


{{ chart_data|json_script:"chart-year-data" }}
<script src="{% static 'js/chart_year.js' %}"></script>


{% endblock %}