{% extends 'base.html' %}
{% load static %}
{% load filters %}


{% block content %}
<div class="container">

    <div id="navbar-container">
        <!-- Far Left: Back Link -->
        <div class="navbar-left">
            <a href="{{ back_url }}" class="back-link">Grįžti atgal</a>
        </div>
        
        <!-- Center: Year Pagination (prev, current, next) -->
        <div class="navbar-center">
            &laquo; <a href="{% url 'goals:year' prev_year %}">{{prev_year}}</a>
            <span class="year-title">{{ year }}</span>
            <a href="{% url 'goals:year' next_year %}">{{next_year}}</a> &raquo;
        </div>
        
        <!-- Far Right: Balanced Spacer -->
        <div class="navbar-right"></div>
    </div>

    <div id="chart-container">
        <div id="chart-year-container"></div>
    </div>

    <div id="table-container">{{table}}</div>
</div>


{{ chart_data|json_script:"chart-year-data" }}
<script src="{% static 'js/chart_year.js' %}"></script>


{% endblock %}