{% extends 'base.html' %}
{% load static %}
{% load filters %}


{% block content %}
<div class="container">

    <div id="navbar-container">
        <div>&laquo; <a href="{% url 'goals:year' prev_year %}?back={{ back_url|urlencode }}">{{prev_year}}</a></div>
        <div><span class="year-title">{{ year }}</span></div>
        <div><a href="{% url 'goals:year' next_year %}?back={{ back_url|urlencode }}">{{next_year}}</a> &raquo;</div>
    </div>

    <div class="back-link-container">
        <a href="{{ back_url }}" class="back-link">Grįžti atgal</a>
    </div>

    <div id="chart-container">
        <div id="chart-year-container"></div>
    </div>

    <div id="table-container">{{table}}</div>
</div>


{{ chart_data|json_script:"chart-year-data" }}
<script src="{% static 'js/chart_year.js' %}"></script>


{% endblock %}